.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.clickableRow {
    cursor: pointer;
}

.throbberBackdrop {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: #282c3455;
    z-index: 5000;
}

#root {
    height: 100vh
}

.MuiPaper-rounded {
    margin: 15px;
    padding: 15px;
}

th {
  font-weight: bold !important;
}
